{% extends 'base.html' %}

{% block title %}
    BGO
{% endblock %}

{% block content %}
    <h1>Board Games Online</h1>
    Welcome to Board Games Online space cowboy. This will one day be a good website. Meanwhile check out 
    <a href="https://coup.alwaysdata.net/">this amazing website</a>
    to play Coup online.
    <hr>
    <h2>Create a New Post</h2>
    I'm working on a button to send you to that page. Meanwhile you can just click on the link <a href="./create">new post</a><br>
    EDIT: I've got a button now
    <a href="{{ url_for('create') }}">
        <button type="button" class="btn btn-primary">
            New Post
        </button>
    </a>
    <hr>
    <h2>Posts list</h2>
    <!-- `for` initiates a for loop over the python object however the loop 
        has to be closed with `endfor`-->
    {% for post in posts%}
        <!-- This is magic:
            `post` is the name of the view function (decorated with @app.route)
            running this link to the page `post` with argument `post_id`
        -->
        <a href="{{ url_for('post', post_id=post['id'])}}">
            <h6>{{ post['title'] }}
            <span class="badge badge-primary">{{ post['created'] }}</span>
            </h6>
        </a>
        <hr>
    {% endfor %}
{% endblock %}